  {% include head.html %}
    <style type="text/css">
      #ranking {min-height: 28em; min-width: 80%;}
    </style>
  </head>
  <body class="global landing">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if site.pagebar %}
    {% include page-bar.html %}
    <div class="pusher">
    {% endif %}
        {% include landing-header.html %}
        <div class="ui vertical segment">
          <div class="ui page grid">
            <div class="column">
              <div class="ui centered inline inverted dimmer">
                <div class="ui text loader">Your browser is now assembling the table contents, it will take a few moments ...</div>
              </div>
              <div class="row">
                <table id="ranking" class="ui striped collapsing very compact small celled table">
                  <thead>
                    <tr><th>Rank</th><th>Gap Size</th><th>Gap start</th><th>Merit</th><th>Discoverer</th><th>Year</th></tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
    {% if site.pagebar %}
    </div>
    {% endif %}

    {% include js.html %}
    <script>

    var tbody = document.createElement("tbody");

    {% include parsegapentry.js %}

    /* largest first */
    function order_by_gapsize(a, b) {
      return b[0] - a[0]
    };

    $('.page.dimmer:first')
      .dimmer('toggle');

    $(document).ready(function() {
      $('.ui.dimmer').dimmer('show');
      get_CSV_parse_ready(function(creditsarray, gapsentries) {
        var top20gaps = gapsentries.sort(order_by_gapsize).slice(0, 20);
        for (row of top20gaps.entries()) {
          cnt = row[0] + 1;
          row = row[1];
          name = getname(creditsarray, row[5]);
          var tr = document.createElement("tr");
          tr.innerHTML += `<td class='right aligned'>${cnt}</td>
          <td class='right aligned'>${row[0].toString().padStart(6, ' ')}</td>
          <td>${get_primestring(row)}</td>
          <td class='center aligned'>${row[7].toFixed(4).toString()}</td>
          <td>${name}</td><td>${row[6]}</td>`
          tbody.appendChild(tr);
        }
        document.getElementById("ranking").appendChild(tbody);
        return;
      });
      $('.ui.dimmer').dimmer('hide');
    });

    </script>
  </body>
</html>
